<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labrom.litlbro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".ActivityHome"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityBrowser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ActivityPageOptions"
            android:label="@string/pageOptionsTitle"
            android:theme="@style/PageOptionsTheme"></activity>
        <activity
            android:name=".ActivityPrefs"
            android:label="@string/prefsTitle"
            android:theme="@style/PrefsTheme"></activity>
        <activity
            android:name=".ActivityPrefsBlacklist"
            android:label="@string/prefsTitle"
            android:theme="@style/PrefsTheme">
            <intent-filter>
                <action android:name="labrom.litlbro.prefs.blacklist" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPrefsTips"
            android:label="@string/prefsTitle"
            android:theme="@style/PrefsTheme">
            <intent-filter>
                <action android:name="labrom.litlbro.prefs.tips" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
